{% extends 'base.html.twig' %}

{% block title %}Hello world!{% endblock %}

{% block body %}



    <section class="">
        <div class="container-fluid">
            <div class="row d-flex">
                {% if visDataSet is defined %}
                    {{ visDataSet }}
                {% endif %}
            </div>
        </div>
    </section>


    <section class="">
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-lg-4">
                    azerazer
                </div>
                <div class="col-lg-4">
                    zerazer
                </div>
                <div class="col-lg-4">
                    azerazera
                </div>
            </div>
        </div>
    </section>



    <div>
        Avant vis<br/>
        <div id="visualization"></div>
        Après vis<br/>



    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // DOM element where the Timeline will be attached
        var container = document.getElementById('visualization');

        // Create a DataSet (allows two way data-binding)
        var items = new vis.DataSet({{ visDataSet|raw }});

        // Configuration for the Timeline
        var options = { {{ options|raw }} };

        // Create a Timeline
        var timeline = new vis.Timeline(container, items, options);
    </script>
{% endblock %}

