

{% block body %}

    <section class="">

        <h1>Chronologie</h1>
        <div class="container-fluid">
            <div class="d-flex row">
                <div id="timeline-container" class="">

                    <div id="timeline"></div>

                </div>
            </div>
        </div>
    </section>

    {% include 'chronologie/controlPanel.html.twig' %}



{% endblock %}





{% include 'chronologie/controlPanelInitialization.html.twig' %}
{% include 'chronologie/controlPanelLogic.html.twig' %}
