/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 mai 2018, 14:32:32
    Author     : Pierre
*/


$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;//#1ab188
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;


body {
    background:$body-bg;
    font-family: 'Titillium Web', sans-serif;
}

.form {
    background:rgba($form-bg,.9);
    padding: 40px;
    max-width:33%;
    transform: translateY(150px);//50%
    margin:auto;
    border-radius:$br;
    box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}

.tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    li div {
        padding:10px;
        filter: blur(2px);
        background:rgba($gray-light,.25);
        color:$gray-light;
        font-size:20px;
        float:left;
        width:50%;
        text-align:center;
        cursor:pointer;
        transition:.5s ease;
        &:hover {
            background:$main-dark;
            color:$white;
            filter: blur(0);
        }
    }
    .active div {
        background:$main;
        color:$white;
        filter: blur(0);
    }
}

.tab-container > div {
    display:none;
}

.tab-container > div:last-child {
    display:block;
}

label {
    color:rgba($white,.5);
}

.button {
    border:0;
    outline:none;
    border-radius:0;
    padding:15px 0;
    font-size:2rem;
    font-weight:$bold;
    text-transform:uppercase;
    letter-spacing:.1em;
    background:$main;
    color:$white;
    transition:all.5s ease;
    -webkit-appearance: none;
    &:hover, &:focus {
        background:$main-dark;
    }
}

.button-block {
    display:block;
    width:100%;
}

.pointer{
    cursor: pointer;
}
