<html>
    Les exemples officiels sont disponibles sur le site officiel http://visjs.org/#download_install
    Et les code sources : https://github.com/almende/vis/tree/master/examples
    <head>
        <title>Timeline | Basic demo</title>

        {# <style type="text/css">
             body, html {
                 font-family: sans-serif;
             }
         </style>#}

        {#        Le fichier .js compilé par yarn ne fonctionne pas, il faut recopier manuellement le fichier initial#}
        <script src="{{ asset('build/js/vis.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('build/css/vis.css') }}">

    </head>
    <body>
        <div id="visualization"></div>
        bonjour
        <script type="text/javascript">
            // DOM element where the Timeline will be attached
            var container = document.getElementById('visualization');

            // Create a DataSet (allows two way data-binding)
            var items = new vis.DataSet([
                {id: 1, content: 'item 1', start: '2013-04-20'},
                {id: 2, content: 'item 2', start: '2013-04-14'},
                {id: 3, content: 'item 3', start: '2013-04-18'},
                {id: 4, content: 'item 4', start: '2013-04-16', end: '2013-04-19'},
                {id: 5, content: 'item 5', start: '2013-04-25'},
                {id: 6, content: 'item 6', start: '2013-04-27'}
            ]);

            // Configuration for the Timeline
            var options = {};

            // Create a Timeline
            var timeline = new vis.Timeline(container, items, options);
        </script>
    </body>
</html>