{# empty Twig template #}
bonjour, ce logiciel va pouvoir permettre de créer un concept (plante) qui contiendra plusieurs attributs<br/>
Doctrine class 'Concept' attribute 'Attributes' and other class 'Attribute' containing his behaviour
<ul>
    <li>1. création d'un concept Plante</li>
    <li>2. Création des attributs</li>
    <li>3. Liste les plantes, les attributs les valeurs, ...</li>
    <li>4. Graph par attribut. Exemple graph de l'attribut espèce</li>
</ul>
